@import 'themes/9Scolors.scss';


html, body, #root, .App, #App_Vistas {
  height: 100%;
  width: 100%;
  min-width: 375px;
  font-size: 18px;
}
header {
  min-height: 22vh;
}
section.InnerViewContentContainer {
  padding: 2rem 0;
  p {
    text-align: justify;
  }
  min-height: 68vh;
}

// MD devices
@media (max-width: 1280px) {
}
// SM devices
@media (max-width: 960px) {
  section.InnerViewContentContainer {
    padding: 1rem 0;
  }
}
// XS devices
@media (max-width: 425px) {
}