@import 'themes/9Scolors.scss';


html, body, #root, .App, #App_Vistas {
  height: 100%;
  width: 100%;
  min-width: 375px;
  font-size: 18px;
}
header {
  min-height: 22vh;
}
section.InnerViewContentContainer {
  padding: 2rem 6rem;
  h1, h2 {
    color: $dark-blue-font;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-shadow: 1px 1px 1px #7092A0;
  }
  h2 {
    color: $orange;
    font-size: 1rem;
  }
  p {
    text-align: justify;
  }
  min-height: 68vh;
}

// MD devices
@media (max-width: 1280px) {
  section.InnerViewContentContainer {
    padding: 2rem;
  }
}
// SM devices
@media (max-width: 960px) {
}
// XS devices
@media (max-width: 425px) {
}