.DayBox_MuiContainer {
  &.MuiContainer-root {
    padding: 11px;
  }
  .DayBox_MuiCard {
    width: 180px;
    position: relative;
    &.disabled {
      background: gray;
    }
    .MuiCardContent-root {
      padding: 11px;
      h4 {
        margin: 0;
        position: absolute;
        top: 21px;
        left: 18px;
        text-transform: capitalize;
        font-weight: 400;
        font-size: .9rem;
        color: black;
      }
      div.date {
        font-size: .9rem;
        position: relative;
        .MuiSvgIcon-root {
          font-size: 2.1rem;
          color: #44508a;
        }
        span {
          display: inline-block;
          position: relative;
          top: -5px;
          left: 5px;
          font-weight: 600;
        }
      }
      div.time {
        display: inline-flex;
        align-items: flex-end;
        padding: 11px 0 0 11px;
        font-size: .9rem;
        .MuiSvgIcon-root {
          font-size: 1.4rem;
        }
      }
    }
    .MuiCardActions-root {
      position: absolute;
      bottom: 0px;
      right: 0px;
      display: block;
      text-align: right;
      .MuiButtonBase-root {
        .MuiButton-label, .MuiButton-startIcon {
        }
        .MuiSvgIcon-root {
          font-size: 1.8rem;
          color: orange;
        }
        &.Mui-disabled .MuiSvgIcon-root {
          color: darken($color: #ffa500, $amount: 27%)
        }
      }
    }
  }
}