.DayBox_MuiContainer {
  .DayBox_MuiCard {
    &.disabled {
      background: gray;
    }
    .DayBox_CardContent {
      div.DateContainer {
        font-size: .9rem;
        position: relative;
        h4, h5 {
          margin: 0;
          position: absolute;
        }
        h4 {
          top: 11px;
          left: 11px;
          font-weight: 400;
          font-size: .9rem;
          color: black;
        }
        h5 {
          text-transform: capitalize;
          top: 0;
          right: 0;
        }
        // .MuiSvgIcon-root {
        //   font-size: 2.1rem;
        //   color: #44508a;
        // }
        span {
          display: inline-block;
          position: relative;
          top: -5px;
          left: 5px;
          font-weight: 600;
        }
      }
      div.TimeContainer {
        display: inline-flex;
        align-items: flex-end;
        padding: 18px 0 11px 36px;
        font-size: .9rem;
        .MuiSvgIcon-root {
          font-size: 1.4rem;
        }
      }
    }
  }
}