#VistaHome {
  section#nearshore {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: flex-start;
    img {
      height: auto;
      min-width: 310px;
    }
    div.nearshore-text {
      width: 54%;
      padding-left: 10%;
    }
  }
}

// MD devices
@media (max-width: 1280px) {
  #VistaHome {
    section#nearshore {
      div.nearshore-text {
        width: 48%;
      }
    }
  }
}
// SM devices
@media (max-width: 960px) {
  #VistaHome {
    section#nearshore {
      justify-content: center;
      div.nearshore-text {
        width: 100%;
      }
    }
  }
}