#VistaHome {
  section#nearshore {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 1440px;
    margin: auto;
    div.who {
      width: 100%;
    }
    img {
      height: auto;
      min-width: 310px;
    }
    div.map-text {
      width: 54%;
    }
  }
}

// MD devices
@media (max-width: 1280px) {
  #VistaHome {
    section#nearshore {
      div.map-text {
        width: 48%;
      }
    }
  }
}
// SM devices
@media (max-width: 960px) {
  #VistaHome {
    section#nearshore {
      justify-content: center;
      div.map-text {
        width: 100%;
      }
    }
  }
}