body #VistaSoon  {
  background: black;
  height: 100%;
}
#VistaSoon {
  height: 72%;
  min-height: 341px;
  color: white;
  .EnneagonStudios {
    height: 110px;
    width: auto;
  }
  .EnneagonLogo {
    // margin-right: 18px;
    height: 270px;
    width: auto;
  }
  .proximamente {
    padding: 45px 45px 90px 45px;
  }
  .blinker {
    animation: blinker .9s linear infinite;
    @keyframes blinker {
      50% {
        opacity: 0;
      }
    }
  }
}