// Logotype colors
$light-green: #DDFED5;
$mid-green: #A3E1C2;
$dark-green: #79C39E;
$purple: #6979A7;
$dark-purple: #334455;

// other
$lilac: #F5F9FF;

$light-blue: #EAF7FF;
$blue-font: #186B9A;
// Fonts
// Font-family
//   Open Sans Hebrew (text)
//   Baumans (logo)
