// Colors
@import '../../themes/9Scolors.scss';

#Header {
  background: black;
  .TopContainer {
    .TipografiaLogo {
      padding: 27px;
      .EnneagonStudios {
        height: 110px;
        width: auto;
      }
      .EnneagonLogo {
        margin-right: 18px;
        height: 108px;
        width: auto;
      }
    }
    .UserAccessContainer {
      padding: 9px 9px 9px 0;
      align-self: flex-end;
      .link, .icon {
        color: white;
        vertical-align: bottom;
        text-decoration: none;
        &:not(:last-child) {
          margin-right: 9px;
        }
      }
    }
  }
  .NavContainer {
    background: lighten($purple, 12%);
    nav {
      display: flex;
      justify-content: flex-end;
      a.link {
        color: black;
        display: inline-flex;
        margin: 18px;
        font-size: 1.2rem;
        font-family: "Open Sans";
        text-decoration: none;
        &.is-active {
          border-bottom: 2px solid black;
          height: fit-content;
        }
      }
    }
  }
}