// Colors
@import '../../themes/9Scolors.scss';

#Header {
  background: black;
  .TopContainer {
    .TipografiaLogo {
      padding: 27px;
      .EnneagonLogo {
        margin-right: 18px;
        height: 108px;
        width: auto;
      }
      .EnneagonStudios {
        height: 110px;
        width: auto;
        overflow: hidden;
      }
      .EnneagonStudiosSubtitle {
        height: 25px;
        width: auto;
        padding-left: 6px;
      }
    }
    .UserMenu {
      padding: 9px 9px 9px 0;
      // align-self: flex-end;
      .link, .icon {
        color: white;
        vertical-align: bottom;
        text-decoration: none;
        &:not(:last-child) {
          margin-right: 9px;
        }
      }
    }
  }
  .NavContainer {
    background: lighten($purple, 12%);
    nav {
      display: flex;
      justify-content: flex-end;
      a.link {
        color: black;
        display: inline-flex;
        margin: 18px;
        font-size: 1.2rem;
        font-family: "Open Sans";
        text-decoration: none;
        &.is-active {
          border-bottom: 2px solid black;
          height: fit-content;
        }
      }
    }
  }
}

@media (max-width: 625px) {
  #Header {
    .TopContainer {
      .TipografiaLogo {
        padding-bottom: 0;
        .EnneagonStudios.md {
          height: 100px;
        }
      }
    }
  }
}
@media (max-width: 425px) {
  #Header {
    .TopContainer {
      .TipografiaLogo {
        .EnneagonLogo {
          height: 90px;
        }
        .EnneagonStudios.sm {
          height: 90px;
        }
        .EnneagonStudiosSubtitle {
          height: 1.3rem;
        }
      }
    }
  }
}